{% extends 'layout/layout.twig' %}

{% block content %}
    <h1>Welcome to SpiffyFramework.</h1>
    <p>This is a basic <a href="http://twig.sensiolabs.org">Twig</a> template.</p>
{% endblock %}
