{% extends 'layout/layout.twig' %}

{% block content %}
    <h1>Welcome to SpiffyFramework</h1>
    <p>This is the output from the Application\Home\IndexAction!</p>

    <p>foo = {{ foo }}</p>
{% endblock %}
